<!doctype html>
<html lang="en">
  	<head>
		{{> /include/header}}
  	</head>
	<body>
		{{> /include/navigation}}
		
		<div class="container">
			<form class="form-control" action="/users" method="post" style="margin-top: 165px;">
				<div class="form-group">
					<label for="userid">사용자 아이디</label>
					<input type="text" class="form-control" id="userid" name="userid" aria-describedby="useridHelp" placeholder="Enter userid">
					<small id="useridHelp" class="form-text text-muted">We'll never share your id with anyone else.</small>
				</div>
				<div class="form-group">
					<label for="password1">Password</label>
					<input type="password" class="form-control" id="password1" name="password" placeholder="Password">
				</div>
				<div class="form-group">
					<input type="password" class="form-control" id="password2" placeholder="Password">
				</div>
				<div class="form-group">
					<label for="username">이름</label>
					<input type="text" class="form-control" id="username" name="username" aria-describedby="usernameHelp" placeholder="Enter username">
					<small id="usernameHelp" class="form-text text-muted">We'll never share your name with anyone else.</small>
				</div>
				<div class="form-group">
					<label for="email">Email</label>
					<input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp" placeholder="Enter email">
					<small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
				</div>
			  	<button type="submit" class="btn btn-primary">Submit <i class="fas fa-handshake"></i></button>
			</form>
		</div>
		{{> /include/footer}}
  	</body>
</html>